<script>
    export let data=[];
    export let startingY;
    export let xScale;
    export let yScale;
    
    
    let pathGenerator = (d) => {
            let relY=0;
            let relX=0;
            let path = "M 170,"+ startingY; 
            d.forEach((value,idx) => {
                relY = startingY-yScale(value)
                relX = 170+xScale(idx)
                path += "," + relX +','+ relY
            })
            relX=170+xScale(745)
            path+= ',' +relX+','+startingY
            return path;
        }
</script>

<path d={pathGenerator(data)}/>