<script>
    import { extent } from "d3-array";
    import { scaleLinear } from "d3-scale";

    export let data={};
    export let xLeafStart=0;
    export let yLeafStart=0;
    export let angle;
    export let maxLength;
    
    let dataLength=data['totEle'].length
    let leafLength2=maxLength/163*dataLength;
    let m2=Math.tan(angle)
    let xLeafEnd2=xLeafStart+leafLength2*Math.cos(angle)
    let yLeafEnd2=yLeafStart-leafLength2*Math.sin(angle)
    let dx2=leafLength2/dataLength*Math.cos(angle) 

    let yScale = (energy)=>{
        if(energy=='electricity'){
            return scaleLinear().domain([0,extent(data['totEle'])[1]]).range([0,50])
        }else{
            return scaleLinear().domain([0,extent(data['totGas'])[1]]).range([0,-50])
        }
    }
    let pathGenerator = (d,energy) =>{
        let path = "M " + xLeafStart +"," + yLeafStart + ","; 
        d.forEach((value,idx) => {
            let y = yLeafStart-m2*idx*dx2-yScale(energy)(value)
            let x = xLeafStart+idx*dx2
            path+=  x +','+ y +','
        })
        path+= xLeafEnd2 +"," + yLeafEnd2
        return path
    }
</script>


<path class='electricity' d={pathGenerator(data['totEle'],'electricity')} />
<path class='gas' d={pathGenerator(data['totGas'],'gas')} />

<path class='tree' d="M {xLeafStart} {yLeafStart} {xLeafEnd2} {yLeafEnd2}" />

<style>
    .electricity{
        fill: blue;
        stroke: blue;
    }
    .gas{
        fill: orange;
        stroke:orange;
    }
    .tree{
        stroke: black;
    }
</style>