<script>
    
    import Month from "./design_2_month.svelte";

    export let data=[];
    export let city;
    export let energy;
    export let radius=50;
    export let xCentre=0;
    export let yCentre=0;

    let months=Object.keys(data[city][energy]).filter((d)=>d!='year');
</script>

{#each months as month,monthIdx}
    <Month 
        monthIdx={monthIdx}  
        data={data}
        city={city}
        energy={energy}
        xCentre={xCentre}
        yCentre={yCentre}
        radius={radius}
    />
{/each}

<circle cx={xCentre} cy={yCentre} r={radius}/>
<path d="M {xCentre-radius} , {yCentre} , {xCentre+radius} , {yCentre}"/>
<path d="M {xCentre} , {yCentre-radius} , {xCentre} , {yCentre+radius}"/>
<text x={xCentre-35} y={yCentre/4} >{city}</text>
<text x={xCentre-4} y={yCentre-radius-4}>0</text>
<text x={xCentre+radius+4} y={yCentre+4}>3</text>
<text x={xCentre-4} y={yCentre+radius+20}>6</text>
<text x={xCentre-radius-12} y={yCentre+4}>9</text>

<style>
    path{
        stroke: black;
    }
    circle{
        fill:none;
        stroke:black;
    }
</style>

