<script>
    import { extent } from "d3-array";
    import {scaleLinear} from "d3-scale";

    export let monthIdx=0
    export let data=[];
    export let city;
    export let energy;
    export let xCentre=0;
    export let yCentre=0;
    export let radius;

    let newData=data[city][energy][monthIdx+1]
    let thetaZero=-Math.PI/2-monthIdx*Math.PI/6;
    let x=[];
    let y=[];
    let dTheta=Math.PI/(6*newData.length);
    let rScale = scaleLinear().domain(extent(data[city][energy]['year'])).range([0,radius])

    
    
    newData.forEach((d,idx)=>{
        let newX=xCentre+Math.cos(thetaZero-idx*dTheta)*rScale(d)
        x.push(newX)
        y.push(yCentre+Math.sin(thetaZero-idx*dTheta)*rScale(d))
    })
    let pathGenerator = (d) => {
        let path = "M " + xCentre +"," + yCentre + ","; 
        d.forEach((value,idx) => {
            path+= x[idx] +','+ y[idx]+','
        })
        path+= xCentre +"," + yCentre
        return path;
    }
</script>

<path class={energy} d={pathGenerator(newData)} />
<style>
    .cooling{
        stroke: blue;
        fill: blue;
    }
    .heating{
        stroke: red;
        fill: red;
    }
</style>