<script>
  import { extent } from "d3-array";
  import { json } from "d3-fetch";  
  import { onMount } from "svelte";
  
  import Year from "./design_2_year.svelte";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Load data
  let data ; 
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });

  let transformed_data={}
  let cities=[]
  let months=[]
  let minMax={}
  let transform_data = function (data) {
    data.forEach((d) => {
			if ( !(d.city in transformed_data)){
				transformed_data[d.city]={}
        transformed_data[d.city]['cooling']={}
        transformed_data[d.city]['heating']={}
        transformed_data[d.city]['cooling']['year']=[]
        transformed_data[d.city]['heating']['year']=[]
        minMax[d.city]={}
        minMax[d.city]['cooling']=[]
        minMax[d.city]['heating']=[]
      }
			if ( !(d.month in transformed_data[d.city]['cooling'])){
				transformed_data[d.city]['cooling'][d.month]=[]
        transformed_data[d.city]['heating'][d.month]=[]
        
      }
      transformed_data[d.city]['cooling'][d.month].push(d.cooling)
      transformed_data[d.city]['heating'][d.month].push(d.heating)
      transformed_data[d.city]['cooling']['year'].push(d.cooling)
      transformed_data[d.city]['heating']['year'].push(d.heating)
    })
    cities = Object.keys(transformed_data)
    months = Object.keys(transformed_data['Baltimore']['cooling']).filter((d)=>d!='year')
    cities.forEach((city)=>{
      minMax[city]['cooling']=extent(transformed_data[city]['cooling']['year'])
      minMax[city]['heating']=extent(transformed_data[city]['heating']['year'])
    })
  }

  let radius=70;

</script>
{#if data==null}
  Loading data
{:else}
  
  <svg {width} {height}>
    {transform_data(data)}    
    <g transform="translate({margin.left+100}, {margin.top-20})">
      {#each cities as city,idx}
        <Year 
          data={transformed_data}
          city={city} 
          energy='cooling'
          radius={radius}
          xCentre={(idx)*2*innerWidth/6}
          yCentre={2*innerHeight/3}
        />
        <Year 
          data={transformed_data}
          city={city} 
          energy='heating'
          radius={radius}
          xCentre={(idx)*2*innerWidth/6}
          yCentre={2*innerHeight/3}
        />
      {/each}
      
      
    </g>
  </svg>
{/if}
<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
