
<script>   
  import { json } from "d3-fetch";  
  import { onMount } from "svelte";
  import { extent } from "d3-array";
  import Building from "./design_1_line.svelte";
  import Controls from "./design_1_controls.svelte";
  import {scaleLinear} from "d3-scale";
  
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Load the data 
  let data ; 
  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
  });
  
  let cities=[]
  let buildingTypes=[]

  let selectedCity='Baltimore';

  //Transform data and filling the starting Y values
  
  let maxVector={};
  let transformed_data={};
  let transform_data = function (data) {
    data.forEach((d) => {
			if ( !(d.city in transformed_data)){
				transformed_data[d.city]={}
        maxVector[d.city]={}
			}
			if ( !(d.buildingtype in transformed_data[d.city])){
				transformed_data[d.city][d.buildingtype]=[]
      }
			transformed_data[d.city][d.buildingtype].push(d.total_heating_energy)
		})

    cities=Object.keys(transformed_data)
    buildingTypes=Object.keys(transformed_data['Baltimore'])
    cities.forEach((city)=>{
      maxVector[city]=0
      buildingTypes.forEach((building,idx) =>{
        maxVector[city]+=extent(transformed_data[city][building])[1]
      })
    })
  }

  

  // Choose scale
  let acrossLine=false;


  // Scales across line
  let xScale = scaleLinear().domain([0,745]).range([0,innerWidth-170]);
  $: yScale1 = ()=>{
    return scaleLinear().domain([0,maxVector[selectedCity]]).range([0,innerHeight/16]);
  }
  $: yScale2 = (data)=>{
    return scaleLinear().domain(extent(data)).range([0,innerHeight/16])
  }
</script>

{#if data==null}
  Loading data
{:else}
<div>
  <Controls 
    bind:selectedCity={selectedCity}
    bind:acrossLine={acrossLine}
    cities={cities}
  />
</div>

  <svg viewBox='0 0 {width} {height}'>
    {transform_data(data)}
    {#each buildingTypes as buildingType,idx}
      <text x=0 y={innerHeight-idx*innerHeight/16+10}>{buildingType}</text>
      <g transform="translate({margin.left}, {margin.top})">
        {#if acrossLine}
          <Building 
            data={transformed_data[selectedCity][buildingType]}
            startingY={innerHeight-idx*innerHeight/16}
            xScale={xScale}
            yScale={yScale1()}
          />
        {:else}
        <Building 
          data={transformed_data[selectedCity][buildingType]}
          startingY={innerHeight-idx*innerHeight/16}
          xScale={xScale}
          yScale={yScale2(transformed_data[selectedCity][buildingType])}
        />
        {/if}
    </g>
    {/each}
  </svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>