<script>
  import { json } from "d3-fetch";  
  import { onMount } from "svelte";
  import Tree from "./design_3_tree.svelte";
  
  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Load data
  let data ; 
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

  let transformed_data={};
  let weeks=[]
  let transform_data = function (data) {
    data.forEach((d) => {
      if ( !(d.week in transformed_data)){
        transformed_data[d.week]={}
        transformed_data[d.week]['totEle']=[]
        transformed_data[d.week]['totGas']=[]
        
      }
      transformed_data[d.week]['totEle'].push(d.total_electrity)
      transformed_data[d.week]['totGas'].push(d.total_gas)
    })
    weeks=Object.keys(transformed_data)
  }
</script>

{#if data== null}
  Loading Data ...
{:else}
  <svg {width} {height}>
    {transform_data(data)}
    <g transform="translate({margin.left}, {margin.top})">
      <Tree 
        data={transformed_data}
        weeks={weeks}
        width={innerWidth}
        height={innerHeight}  
      />
    </g>
  </svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
