<script>
    export let selectedCity;
    export let acrossLine;
    export let cities;
</script>

{#each cities as city,idx}
    <div position='relative' left='20px' top={idx*20}>
		<label>
	    	<input type=radio bind:group={selectedCity} value={city}>
	    	{city}
    	</label>
	</div>
{/each}

<div>
<label>
	<input type=radio bind:group={acrossLine} value={true}>
	Across Line
</label>
</div>
<div>
<label>
	<input type=radio bind:group={acrossLine} value={false}>
	Per Line
</label>
</div>
<style>
	label{
		direction:ltr;
	}
</style>