<script>
    import Leaf2 from "./design_3_leaf_2.svelte"

    export let data={};
    export let weeks=[];
    export let width;
    export let height;

</script>

<text class="title" x={width/2-50} y=20 >Baltimore</text>
<text class="title" x={width/2-90} y=50 >(December 2014)</text>
<path d="M {width/2} {height} {width/2} {height/7}"/>

{#each weeks as week,idx}
<Leaf2
    data={data[week]}
    xLeafStart={width/2}
    yLeafStart={height-(idx+1)*height/7}
    angle={Math.pow(-1,idx%2+1)*(Math.PI*(idx%2)-Math.PI/6)}
    maxLength=250
/>
{/each}

<style>
    .title { 
        font: italic 30px times-new-roman; 
    }
    path{
        stroke: black;
    }
</style>