<script>
  let clicked = false;
</script>

<div>
  {#if !clicked}
    <p> You have to click the button!</p>
  {:else}
    <p> You have clicked the button!</p>
  {/if}
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  <!--  -->
</div>
