<style>
    p {
        color:steelblue;
        text-size-adjust: 10%;
        font-size: larger;
    }
</style>

<p>I 
    <span style="color: red;"> really</span>
    like data visualisation!
</p>
