<script>
    const favourites=["Tennis","Cats","Reading"]
    const student={name: "Niccolò Fonio", favourites}
</script>

<p>
    My name is {student.name} and 
    these are some of my favourite things:
    {student.favourites}
</p>
