<script>
    function circumference(r) {
        return Math.PI*2*r;
    }
    const circum2 = (r) => Math.PI*2*r;
    const radius = 8
    circum2.length2;
</script>

<p>
    The circumference of a circle with radius
    {radius} m is 
    {circum2(radius).toFixed(2)} m 
</p>
