<script>
  // Properties
  
  import { max, min } from "d3-array";

  export let data = [];
  export let selectedYear = minIndex;
  
  
  const minIndex = min(data, (d) => d.year) - 1800;
  const maxIndex = max(data, (d) => d.year) - 1800;

  // Buttons
  
  $: interval = null;
  function start(){
    interval = setInterval( () =>{
      if(selectedYear==maxIndex) {
        //clearInterval(interval)
        selectedYear=minIndex
      }else{
      selectedYear+=1
      }
    },20)
    selectedContinent=selectedContinent
  }
  
  function stop(){
    clearInterval(interval)
    interval=null;
    selectedContinent=selectedContinent
  }

  function reset(){
    selectedYear=0;
    selectedContinent=selectedContinent
    if (interval){
      clearInterval(interval)
      interval=null;
      
    }
  }
  
  // Dropdown menù
  let dropdownTrigger;
	let continents = ["All continents","europe","asia","americas","africa"]
  export let selectedContinent = continents[0];
  function chooseContinent(idxNewContinent){
	selectedContinent=continents[idxNewContinent]
}
</script>

<div class="row">
  <button class="btn btn-success" on:click={start} >
    Play
  </button>
  <button class="btn btn-success" on:click={stop} >
    Pause
  </button>
  <button class="btn btn-success" on:click={reset}>
    Reset
  </button>
  <input type="range" min={minIndex} max={maxIndex} bind:value={selectedYear} />
  <p>{1800+selectedYear}</p>
  
</div>
