<script>
    let count=0;
    
    function raise(){
        count+=1;
    }

    function reset(){
        count=0;
    }
</script>
<div>
    <button class="btn btn-success" on:click={raise}>
    Pressed {count} times
    </button>

    <button class="btn btn-warning" on:click={reset}>
    Reset the counter
    </button>
</div>



