<script>
import { svg } from 'd3-fetch';
import { text } from 'svelte/internal';
import { tweened } from 'svelte/motion';
import { onMount } from 'svelte';

let original=6;    
    let timer = tweened(original);
    $: seconds = Math.floor($timer-2);
onMount(async () => {
  setInterval(() => {
    classs[seconds]="on";
    if ($timer > 0) $timer--;
    if ($timer==0) color="darkgreen"
  }, 1000);
  });
  
  
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";
  $: classs= ["off","off","off","off","off","off"];
  
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as point,i}
      <circle class={classs[i]} fill={color} cx={point} cy={innerHeight/2} r=10/>
    {/each}
  </g>
</svg>

<style>
  .on{
    opacity: 1;
  }
  .off{
    opacity:0.3;
  }
</style>