<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { extent } from "d3-array";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });
  $: console.log(data)

  let selectedYear1=0;
  $: selectedContinent1="All continents";
  
  const rightContinent = (continent) => {
    if (selectedContinent1=="All continents")
        return continent==continent
    else
        return continent==selectedContinent1
    
  };

  
</script>
{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot 
      data={data[selectedYear1]['countries'].filter((d)=>
        rightContinent(d.continent)
      )} 
    />
    <Controls {data}
    bind:selectedYear={selectedYear1}
    bind:selectedContinent={selectedContinent1}
/>
  </div>
  
{/if}