<script>

  import { format } from "d3-format";
  import { select } from "d3-selection";
  import { axisBottom, axisLeft } from "d3-axis";
  import { schemeTableau10 } from "d3-scale-chromatic";
  import { scaleLog, scaleLinear, scaleOrdinal } from "d3-scale";
  import { extent } from "d3-array";

  // Dimensions

  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const continents = ["europe", "asia", "americas", "africa"];
  export let data= null;

  //const xScale = scaleLog().domain(extent((data.map((d) => d.income)))).range([0, innerWidth]);
  const xScale = scaleLog().domain([300, 150000]).range([0, innerWidth]);
  //const yScale = scaleLinear().domain(extent((data.map((d) => d.life_exp)))).range([innerHeight, 0]);
  const yScale = scaleLinear().domain([0, 90]).range([innerHeight, 0]);
  const cScale = scaleOrdinal(schemeTableau10).domain(continents);
  const rScale = scaleLinear().range([5, 40]).domain([2000, 1400000000]);
  // Axes
  //const xAxisC=axisBottom(scaleX);
  //function xAxis(node){
  //  let a = select(node).call(xAxisC);
  //}
  const xAxis = (node) =>
    axisBottom(xScale).tickValues([400, 4000, 40000]).tickFormat(format("$"))(
      select(node)
    );
  //const yAxis = (node) => axisLeft(yScale)(select(node));
  const yAxis = (node) => axisLeft(yScale)(select(node));
  $: console.log(data)
  $: console.log(
    extent((data.map((d) => d.life_exp)))
  )
  $: console.log(
    extent((data.map((d) => +d.population)))
  )
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
  {#each data as element}
  {#if element.income != null && element.life_exp!=null}
  
    <circle
      class="dot" 
      cx={xScale(+element.income)} 
      cy={yScale(+element.life_exp)} 
      r={rScale(+element.population)} 
      fill={cScale(element.continent)}
    />
  
  {/if}
  {/each}
  </g>
  <g transform="translate({margin.left},{margin.top+innerHeight})" use:xAxis >
    <text class="axis-label" x={innerWidth / 2} y={margin.bottom - 18}>
      GDP per Capita
    </text>
    </g>
  

  <g transform="translate({margin.left},{margin.top})" use:yAxis>
    <text
        class="axis-label"
        x={-innerHeight / 2}
        y={-margin.left + 18}
        transform="rotate(-90)"
      >
        Life Expectancy
      </text>
  </g>
  
  <text class="title" x={innerWidth / 2} y={40}>Gapminder Scatterplot</text>
</svg>

<style>
  .dot {
    opacity: 0.8;
  }
  .axis-label {
    font-size: 1.75em;
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
  .title {
    font-size: 2.25em;
    text-anchor: middle;
  }
</style>
<!--
<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    {#each data as element}
    {#if element.income == null}
        <circle 
          cx={xScale(+element.income)}
          cy={yScale(+element.life_exp)}
          r={rScale(+element.population)}
          fill={cScale(element.continent)}  
        >
        <title>{element.country}</title>
      </circle>
    {/if}
    {/each}
  </g>
  <g use:xAxis transform="translate(0, {innerHeight})">
    <text class="axis-label" x={innerWidth / 2} y={margin.bottom - 18}>
      GDP per Capita
    </text>
  </g>
  <g use:yAxis>
    <text
      class="axis-label"
      x={-innerHeight / 2}
      y={-margin.left + 18}
      transform="rotate(-90)"
    >
      Life Expectancy
    </text>
  </g>
</svg>
-->
