<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];



  import { scaleLinear } from 'd3-scale';
  const scaleX= scaleLinear().domain([1,10]).range([0,innerWidth]);
  const scaleY= scaleLinear().domain([0,4]).range([0,innerHeight]);


  import {scaleOrdinal} from 'd3-scale';
  import {schemeDark2} from 'd3';
  const color = scaleOrdinal().domain(['cat1','cat3','cat2','cat3','cat2']).range(schemeDark2);  

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as point}
      <circle cx={scaleX(point.x)} cy={scaleY(point.y)} fill={color(point.category)} r=10 />
      <line x1={scaleX(point.x)} y1={scaleY(point.y)+10} x2={scaleX(point.x)} y2={height}/>
      {/each}
  </g>
  <text>Ciao</text>
</svg>

<style>
  line{
    stroke:black;
    stroke-width:3;
  }
</style>
