<script>
import { max, min } from 'd3-array';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  
  import { scaleLinear, scalePoint } from 'd3-scale';
import { each } from 'svelte/internal';
  const maxRangeH=innerHeight-20;

  const scaleX= scalePoint().domain(data.map(a => a.service)).range([0,innerWidth-20]);
  const scaleY=scaleLinear().domain([3.5,0]).range([0,maxRangeH]);

  import { axisBottom, axisLeft } from 'd3-axis';
  import { select } from "d3-selection";


  const xAx=axisBottom(scaleX);
  const yAx=axisLeft(scaleY);

  function xAxis(node){
    let a = select(node).call(xAx);
  }
  function yAxis(node){
    let a = select(node).call(yAx);
  }

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!--  -->
    {#each data as point,i}
      <rect x={scaleX(point.service)-10} y={scaleY(point.viewers)+20} width="20" height={innerHeight-scaleY(point.viewers)-20}/>
      
      {/each}
  </g>
  <g transform="translate({margin.left},{innerHeight+20})" use:xAxis />
  <g transform="translate({margin.left-20},{20+margin.top})" use:yAxis />

  <text x={20} y={15} >  Viewers</text>
</svg>

<style>
  text {
    font-size: small;
  }
</style>
