<script>
    import Ex_7_scatterplot from "./_ex_7_scatterplot.svelte";
    import { onMount } from 'svelte';
    import { json } from 'd3-fetch';
    
    let data=null;

    onMount(async () => {
        data = await json('/data/gapminder.json');
    });
    $: console.log(data)
</script>

{#if !data}
    <p>Loading the data, please wait...</p>
{:else}
    <Ex_7_scatterplot data={data[0]['countries']}/>
{/if}

